* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

button {
  border: 0;
  background: none;
}

/* nav */

.ham {
  width: 30px;
  height: 30px;
}

.menu-ham {
  width: inherit;
}